h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.picture {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--primary-font), sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--thirty-bcg);
}