<section class="product">
    <div class="container">
        <h2 class="product__title title">100% natural <br> <span>products</span> </h2>
        <ul class="product__set list">
            <li class="product__list">
                <img class="product__img" srcset="
                    ./imges/desk/ice-cream-desk.jpg 1x,
                    ./imges/desk/ice-cream-desk@2.jpg 2x,
                    ./imges/tablet/ice-cream-tablet.jpg 1x,
                    ./imges/tablet/ice-cream-tablet@2.jpg 2x,
                    ./imges/mob/ice-cream-mob.jpg 1x,
                    ./imges/mob/ice-cream-mob@2.jpg 2x" src="./imges/desk/ice-cream-desk.jpg" alt="ice-cream">
                <div>
                    <h3>ice cream</h3>
                    <p>Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                </div>

            </li>
            <li class="product__list">
                <img class="product__img" srcset="
                    ./imges/desk/ice-coffee-desk.jpg 1x,
                    ./imges/desk/ice-coffee-desk@2.jpg 2x,
                    ./imges/tablet/ice-coffee-tablet.jpg 1x,
                    ./imges/tablet/ice-coffee-tablet@2.jpg 2x,
                    ./imges/mob/ice-coffee-mob.jpg 1x,
                    ./imges/mob/ice-coffee-mob@2.jpg 2x" src="./imges/desk/ice-coffee-desk.jpg" alt="ice-coffee">
                <div>
                    <h3>ice coffee</h3>
                    <p>Fragrant invigorating drink created from 100% natural ingredients without the use of
                        preservatives and flavor enhancers</p>
                </div>

            </li>
            <li class="product__list">
                <img class="product__img" srcset="
                    ./imges/desk/milkshake-desk.jpg 1x,
                    ./imges/desk/milkshake-desk@2.jpg 2x,
                    ./imges/tablet/milkshake-tablet.jpg 1x,
                    ./imges/tablet/milkshake-tablet@2.jpg 2x,
                    ./imges/mob/milkshake-mob.jpg 1x,
                    ./imges/mob/milkshake-mob@2.jpg 2x" src="./imges/desk/milkshake-desk.jpg" alt="milkshake">
                <div>
                    <h3>milkshakes</h3>
                    <p>Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other
                        sweets of your choice</p>
                </div>

            </li>
        </ul>

    </div>
</section>